﻿<!-- ko with: home -->
<div id="overlay">
    <div id="loader"></div>
</div>
<div class="row">
    @* file upload *@
    <div class="col-12">
        <form action="~/api/Vision/ParseImage" method="post" enctype="multipart/form-data" class="dropzone col-12" id="dropzoneForm">
            <div class="fallback">
                <input name="file" type="file" class="hidden-lg-down invisible" />
                <input type="submit" value="Upload" class="hidden-lg-down invisible" />
            </div>
        </form>
    </div>

</div>
@* Files list *@
<div class="grid">
    <div class="grid-sizer"></div>
    <!-- ko foreach: savedPictures -->
    <div class="grid-item">
        <img data-bind="attr: { src: img}, click: showDetails" />
        <img src="~/Content/icons/remove.png" class="remove-img" data-bind="click: remove"/>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->

<div id="fileinfo-modal" class="modal">
    <div id="fileinfo-modal-cont"></div>
</div>
<script type="text/html" id="img-details-dialog">
    <div class="modal-body">
        <img src="Content/icons/remove.png" id="dlg-close"/>
        <div class="row">
            <div class="col-lg-4 col-sm-12 pRelative" id="col-img">
                <img class="img-fluid" data-bind="attr: {src : img}" id="describedImg" />
                <canvas id="faceCanvas"></canvas>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="">
                    <ul class="nav nav-tabs" role="tablist" id="img-details-tab">
                        <li class="active">
                            <a data-toggle="tab" href="#labels">Labels</a>
                        </li>
                        <li >
                            <a data-toggle="tab" href="#webDetection">Similar Images</a>
                        </li>
                        @*<li role="presentation">
                                <a data-toggle="tab" role="tab" href="#safeSearch">Image Safety</a>
                            </li>*@
                    </ul>

                    <div class="tab-content" id="file-info-tabs" role="tablist">
                        <div id="labels" class="tab-pane fade in active" role="tab">
                            <!-- ko foreach: data().labelAnalysis.labelAnnotations -->
                            <span data-bind="text: description"></span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info text-right" role="progressbar" data-bind="style: {width: score +'%'}"
                                     aria-valuemin="0" aria-valuemax="100">
                                    @*<span data-bind="text: score +'%'" class="pull-right"></span>*@
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                        <div id="webDetection" class="tab-pane fade" role="tab">
                            <h4>Similar Web searches</h4>
                            <!-- ko foreach: data().webInfoAnalysis.similarSearches -->
                            <a data-bind="attr: {href : 'http://www.google.com/search?q=' + description}" target="_blank">
                                <p data-bind="text: description"></p>
                            </a>
                            <!-- /ko -->

                            <h4>This image in web</h4>
                            <!-- ko foreach: data().webInfoAnalysis.sameImagesUrls -->
                            <a data-bind="attr: {href : $data}" target="_blank">
                                <p data-bind="text: $data"></p>
                            </a>
                            <!-- /ko -->

                            <h4>Similar images in web</h4>
                            <!-- ko foreach: data().webInfoAnalysis.similarImagesUrls -->
                            <a data-bind="attr: {href : $data}" target="_blank">
                                <p data-bind="text: $data"></p>
                            </a>
                            <!-- /ko -->
                            <h4>Web pages containing this image</h4>
                            <!-- ko foreach: data().webInfoAnalysis.pagesWithMatchedImages -->
                            <a data-bind="attr: {href : $data}" target="_blank">
                                <p data-bind="text: $data"></p>
                            </a>
                            <!-- /ko -->

                        </div>
                        @*<div id="safeSearch" class="tab-pane fade" role="tabpanel">
                                <h3>Image Safety</h3>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
