﻿body {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
    background: #2f2c29;
}

hr {
    border-top: 1px solid rgba(247, 247, 249, 0.36) !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }

    .grid-sizer,
    .grid-item {
        width: 48% !important;
        margin: 1%;
    }
}

.dropzone {
    background-color: whitesmoke;
    border: gray dashed 3px;
    padding: 50px;
    text-align: center;
    color: gray;
    font-size: 22px;
    cursor: pointer;
}

    .dropzone:hover {
        opacity: 0.75;
    }

.dz-preview {
    display: none !important;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 32.66%;
    margin: 0.33%;
}

.grid-item {
    float: left;
}

    .grid-item :hover {
        -webkit-filter: brightness(120%);
        -moz-transform: scale(1.02);
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
        cursor: pointer;
    }

    .grid-item img {
        max-width: 100%;
    }


#fileinfo-modal .modal-body {
    background-color: #3c3939;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: whitesmoke;
}

#file-info-tabs .tab-pane,
#col-img {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*Loader*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}


/*face rectangle canvas*/
#faceCanvas {
    position: fixed;
    top: 15px;
    left: 0;
}

.pRelative {
    position: relative;
}

.img-fluid {
    max-width: 100%;
    max-height: 100%;
}


.remove-img {
    position: inherit;
    top: -3px;
    right: -3px;
    display: none;
}

    .remove-img:hover {
        -moz-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

.grid-item:hover .remove-img {
    display: initial;
}


#dlg-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor:pointer;
    z-index:1000;
}